i {
    font-size: 2rem;
}
form {
    border-radius: 10px;
}

.alarmCheckboxes {
    background-color: $body-bg;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)!important;
    padding: 5px;
    input , label {
        cursor: pointer;
    }
}

