
#slLinks {
    margin-bottom: 10vh;
    i {
        font-size: $font-size-2-rem;
    }

}
#slCategories {
    span {
        font-size: 1rem;
    }
    .categoryCard {
        background-color: $body-bg;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15)!important;

        &:hover {
            box-shadow: 0px 5px 10px rgba(250, 235, 215, 0.1);
            transition: .1s linear all;
            transform: translateY(-3px);
        }
    }
}
