$colorGreen: #9fd07a;
$colorYellow: #fef590;
$cardShadowGlobal: 0 10px 20px rgba(0, 0, 0, 0.15)!important;
$starYellow: #f5e851;
$colorLightBlue: #17d1f6;

$font-size-15-rem: 1.5rem;
$font-size-2-rem: 2rem;
$font-size-12-rem: 1.2rem;
$border-radius-10: 10px;
$border-radius-15: 15px;

